<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_DOORLOCK_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_DOORLOCK_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_DOORLOCK_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_AC_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_LIGHT_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_LIGHT_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_LIGHT_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_SET"/>
    <uses-permission android:name="android.permission.BYDAUTO_RADAR_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_RADAR_COMMON"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BYDACQUISITION_SEND_BUFFER"/>
    <uses-permission android:name="android.permission.BYDACQUISITION_SEND_FILE"/>
    <uses-permission android:name="com.byd.ditrainer.permission.CORE"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:label="Kim Launcher"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.HOME_ONLY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityLauncher"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <service
            android:name="byd.MusicNotificationListenerService"
            android:exported="true"
            android:label="Kim Launcher music"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
